.notification {
  display: flex;
  align-items: center;
  padding: 15px;
  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ebeef5;
  margin: 0 0 15px 0;
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid transparent;
    background: transparent;
    width: 45px;
    height: 45px;
    color: white;
    svg {
      width: 25px;
      height: 25px;
      path {
        fill: currentColor
      }
    }
  }
  &-content {
    width: calc(100% - 85px);
    padding: 0 15px;
    &-title {
      font-size: 17px;
      font-weight: 500;
      margin: 0 0 5px 0;
      text-transform: uppercase;
    }
    &-message {
      font-size: 14px;
    }
  }
  &-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid transparent;
    background: transparent;
    padding: 0;
    outline-color: currentColor;
    &:hover, &:focus {
      cursor: pointer;
    }
    svg {
      width: 25px;
      height: 25px;
      path {
        fill: currentColor;
      }
    }
  }
}

//Success & Alert

.notification-success {
  .notification-icon {
    background: #24bd85;
  }
  .notification-delete {
    color: lighten(#24bd85, 10%);
  }
  .notification-content-title {
    color: lighten(#24bd85, 10%);
  }
  .notification-content-message {
    color: darken(#24bd85, 50%);
  }
}
.notification-error {
  .notification-icon {
    background: $primary;
  }
  .notification-delete {
    color: lighten($primary, 10%);
  }
  .notification-content-title {
    color: lighten($primary, 10%);
  }
  .notification-content-message {
    color: darken($primary, 50%);
  }
}

//Media 

@media screen and (max-width: 768px) {
  .notification {
    max-width: 310px;
    margin: 0 auto 15px auto;
  }
}

@media screen and (max-width: 468px) {
  .notification {
    padding: 15px 10px;
    &-content {
      padding: 0 10px 0 8px;
    }
  }
}