.contact-header {
  padding: 0 0 100px 0;
  color: $greyDark;
  width: 100%;
  text-align: right;
}
.contact-header-title {
  font-weight: 500;
  padding: 0 0 20px 0;
}
.contact-header-description {
  font-size: 18px;
}

//Contact info 

.contact-info {
  display: flex;
  padding: 0 75px;
}
.contact-info-tile {
  width: 50%;
  height: 400px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 50px;
}
.contact-info-tile-title {
  padding: 0 0 15px 0;
  width: 100%;
}
.contact-info-tile-description {
  width: 100%;
}
.contact-info-tile:nth-child(1) {
  background: $red;
  align-items: flex-end
}
.contact-info-tile:nth-child(2) {
  background: $greyDark;
  align-items: center;
  text-align: right;
}

//Contact Commincation

.contact-communication-header {
  width: 100%;
  padding: 100px 0 100px 0;
  color: $greyDark;
}
.contact-communication-header-title {
  font-size: 36px;
  font-weight: 500;
  padding: 0 0 20px 0;
}
.contact-communication-header-description {
  font-size: 18px;
}

//Contact form

.contact-form {
  width: 100%;
  max-width: 560px;
  margin: 0 0 0 20%;
}
.contact-form-item {
  margin: 0 0 30px 0;
}
.contact-form-item:last-of-type {
  display: flex;
  justify-content: flex-end;
}
input, textarea {
  border: 3px solid $greyLight;
  width: 100%;
  padding: 13px;
  color: $greyDark;
  font-size: 16px;
  outline: none;
  transition: border 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif;
} 
textarea {
  min-height: 200px;
}
input:focus, textarea:focus {
  border-color: $greyDark;
}
input::-webkit-input-placeholder, input::-moz-placeholder, 
input:-ms-input-placeholder, input:-moz-placeholder  { 
  color: $greyLight;
}

//Contact Validation

.contact-form-item-alert {
  color: $red;
  margin: 5px 0 0 7px;
  font-size: 15px;
}

//Contact button 

.contact-form-item-btn {
  position: relative;
  background: $red;
  border: 0;
  padding: 15px 150px 15px 25px;
  color: $white;
  font-size: 20px;
  font-weight: 600;
  transition: background 0.4s;
  outline: none;
  margin: 0 -50px 0 0;
}
.contact-form-item-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate3d(-60%,-50%,0);
  width: 30px;
  height: 30px;
  mask-image: url("./Img/arrow.svg");
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  background-color: $greyLight;
  transition: background-color 0.35s;
  opacity: 0;
  transition: transform 0.45s, opacity 0.45s;
}
.contact-form-item-btn:hover, 
.contact-form-item-btn:focus {
  background: $greyDark;
  cursor: pointer;
}
.contact-form-item-btn:hover::before,
.contact-form-item-btn:focus::before {
  transform: translate3d(0%,-50%,0);
  opacity: 1;
}

//Media 

@media screen and (max-width: 920px) {
  .contact-header {
    width: 100%;
    text-align: center;
    padding: 0 0 50px 0;
  }
  .contact-info {
    flex-wrap: wrap;
    padding: 0;
  }
  .contact-info-tile {
    width: 100%;
    text-align: center;
    height: auto;
    height: 300px;
  }
  .contact-info-tile:nth-child(2) {
    text-align: center;
  }
  .contact-communication-header {
    text-align: center;
  }
  .contact-communication-tile {
    width: 100%;
  }
  .contact-form {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .contact-form-item:last-of-type {
    justify-content: flex-start;
  }
  .contact-communication-form-btn {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .contact-header-title, .contact-communication-header-title {
    font-size: 26px;
  }
  .contact-info-tile-title {
    font-size: 24px;
  }
  .contact-info-tile-description {
    font-size: 18px;
  }
}