#home {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-header {
  padding: 0 15px;
  text-align: center;
  position: relative;
  margin: -100px 0 0 0;
  color: $greyDark;
}
.home-header-title {
  padding: 0 0 20px 0;
}
.home-header-description-link {
  color: $greyMedium;
  padding: 6px 16px;
  border: 3px solid $greyLight;
  transition: border 0.25s, color 0.25s;
  outline: none;
}
.home-header-description-link:hover, 
.home-header-description-link:focus {
  border-color: $red;
  color: $red;
}

//Media

@media screen and (max-width: 768px) {
  #home {
    height: calc(100vh - 60px);
  }
}

@media screen and (max-width: 576px) {
  .home-header-title {
    font-size: 26px;
  }
  .home-header-description {
    font-size: 18px;
  }
}