.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  z-index: 100;
  background: rgba(255,255,255,0.96)
}
.navigation-logo {
  width: 100px;
  position: relative;
  z-index: 101;
}
.navigation-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.navigation-logo img {
  width: 100%;
  height: auto;
}
.navigation-menu {
  display: flex;
}
.navigation-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 12px;
  text-decoration: none;
  color: $greyDark;
  font-weight: 700;
  transition: color 0.25s;  
  outline-color: $red;
}
.navigation-menu li a:hover, .navigation-menu li a:focus {
  color: $red;
}
.navigation-menu li a.router-link-exact-active,  {
  color: $red;
  border-color: $red;
}

// Navigation button 

.navigation-button {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  position: relative;
  display: none;
  background: none;
  cursor: pointer;
  outline: none;  
  z-index: 101;
}
.navigation-button:hover .navigation-button-description, 
.navigation-button:focus .navigation-button-description  {
  color: $red;
}
.navigation-button:hover span, .navigation-button:hover span::before,
.navigation-button:hover span::after, .navigation-button:focus span, 
.navigation-button:focus span::before, .navigation-button:focus span::after, {
  background: $red;
}
.navigation-button-description {
  position: absolute;
  left: -55px;
  padding: 0 10px 0 0;
  top: 0;
  font-size: 18px;
  color: $greyDark; 
  font-weight: 500;
  transition: color 0.25s;    
}
.navigation-button span {
  width: 22px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: $greyDark;
  transition: background 0.4s;
}
.navigation-button span::before, .navigation-button span::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background: $greyDark;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s, left 0.5s, transform 0.5s, background 0.25s;
}
.navigation-button span::before {
  top: 8px;
}
.navigation-button span::after {
  top: -8px;
}

//Active class for button

.navigation-button.active .navigation-button-description {
  color: $greyMedium;
}
.navigation-button.active:hover .navigation-button-description, 
.navigation-button.active:focus .navigation-button-description  {
  color: $red;
}
.navigation-button.active span {
  background: rgba(0,0,0,0)
}
.navigation-button.active span::before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background: $greyMedium;
}
.navigation-button.active span::after {
  top: 0;
  left: 0;
  transform: rotate(135deg);
  background: $greyMedium;
}
.navigation-button.active:hover span::before,
.navigation-button.active:hover span::after, 
.navigation-button.active:focus span::before, .navigation-button.active:focus span::after, {
  background: $red;
}

// Media 

@media screen and (max-width: 768px) {
  .navigation-button {
    display: block;
  }
  .navigation-menu {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    background: $greyDark;
    align-items: center;
    flex-direction: column;
    padding: 100px 50px 0 50px;
  }
  .navigation-menu li {
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 5px 0;
  }
  .navigation-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $greyMediumDark;
    color: $greyMediumDark;
    transition: color 0.25s, border 0.25s, background 0.25s;
    outline: none;
  }
  .navigation-menu li a:hover, .navigation-menu li a:focus {
    color: $red;
    border-color: $red;
  }
  .navigation-menu.active {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .navigation-menu {
    padding: 80px 10px 0 10px;
  }
}

@media screen and (max-height: 420px) {
  .navigation-menu {
    overflow-y: auto;
  }
}
