.project-header {
  color: $greyDark;
  &-title {
    font-weight: 500;
  }
}

//Project info

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title {
    color: $greyDark;
    padding: 0 50px;
  }
}

//Technologies

.technology {
  padding: 50px 100px;
  max-width: 500px;
  width: 100%;
  background: $red;
  color: #f9edd4;
  &-title {
    margin: 0 0 20px 0;
  }
  &-list {
    margin: 0 0 0 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 10px;
      height: 3px;
      width: 15px;
      background: $white;
    }
  }
  &-item {
    margin: 0 0 2px 0;
    font-size: 18px;
  }
}

//Media

@media screen and (max-width: 1024px) {
  .project-info {
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    &-title {
      padding: 0 0 50px 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .technology {
    padding: 50px 25px;
  }
}