.portfolio-header {
  padding: 0 0 100px 0;
  color: $greyDark;
  width: 100%;
  text-align: left;
}
.portfolio-header-title {
  font-weight: 500;
  padding: 0 0 20px 0;
}
.portfolio-header-description {
  font-size: 18px;
}

//Portfolio filter 

.portfolio-filter {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 25px 0;
}
.portfolio-filter-item {
  padding: 10px;
}
.portfolio-filter-item-button {
  font-size: 15px;
  font-weight: 500;
  background: none;
  border: 3px solid $grey;
  padding: 8px 16px;
  color: $greyMedium;
  transition: all 0.25s;
  outline: none;
}
.portfolio-filter-item:nth-child(1) .portfolio-filter-item-button {
  padding: 8px 26px;
}
.portfolio-filter-item-button:hover, .portfolio-filter-item-button:focus {
  cursor: pointer;
  border-color: $red;
  color: $red;
}
//portfolio item list

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

//Portfolio tiles animation

.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s linear
}

//Media 

@media screen and (max-width: 920px) {
  .portfolio-header {
    padding: 0 0 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-header {
    text-align: center;
  }
  .portfolio-filter {
    justify-content: center;
  }
  .portfolio-filter-item {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio-header-title {
    font-size: 26px;
  }

  .portfolio-filter {
    flex-wrap: wrap;
  }
  .portfolio-filter-item {
    padding: 5px;
  }
  .portfolio-filter-item-button {
    padding: 6px 16px;
  }
  .portfolio-filter-item:nth-child(1) .portfolio-filter-item-button {
    padding: 6px 16px;
  }
}
