#status {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto 0 auto;
  overflow: hidden;
}

.status {
  text-align: center;
  &-title {
    &-error {
      color: $red;;
    }
    &-success {
      color: #24bd85;
    }
  }
  &-timer {
    display: block;
    text-align: center;
    
  }
  &-link {
    display: inline-block;
    color: $greyMedium;
    padding: 6px 16px;
    border: 3px solid $greyLight;
    transition: border 0.25s, color 0.25s;
    outline: none;
    margin: 10px 0 0 0;
    &:hover, &:focus {
      border-color: $red;
      color: $red;
      cursor: pointer;
    }
  }
}