.featured-projects {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 30px;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: bold;
    max-width: 600px;
    width: 100%;
    line-height: 1.7;
    margin: 0 0 3rem 0;
  }
}

.featured-project {
  width: 100%;
  display: block;

  &:nth-child(1) {
    grid-area: 1 / 2 / 2 / 3;
  }

  &:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
  }

  &:nth-child(3) {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    align-content: end;
  }

  &__link {
    display: block;
    transition: transform 0.5s;

    &:hover {
      .featured-project__img {
        transform: scale(0.95);
      }

      .featured-project__heading {
        color: $primary-brand--medium;
        transform: translate3d(20px, -20px, 0);
      }

      .featured-project__sub-heading {
        transform: translate3d(20px, -20px, 0);
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 0 0.5rem 0;
    transition: transform 0.2s;

    &-wrapper {
      overflow: hidden;
    }
  }

  &__heading {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 0.5rem 0;
    transition: color 0.1s, transform 0.2s;
  }

  &__sub-heading {
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.1s, transform 0.1s;
    line-height: 1.4;
  }
}

// Media

@media screen and (max-width: 1280px) {
  .featured-projects {
    &__list {
      grid-gap: 60px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .featured-projects {
    &__list {
      display: block;
    }

    &__heading {
      font-size: 1.4rem;
    }
  }

  .featured-project {
    margin: 0 0 2rem 0;

    &:hover {
      .featured-project__img {
        transform: unset;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .featured-projects {
    &__heading {
      font-size: 1.2rem;
    }
  }
}

