.main-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;

  &__heading {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    color: $primary-brand--medium;
    letter-spacing: 8px;
  }

  &__pre-heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    display: inline-block;
  }

  &__text {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
  }

  &__scroll-down {
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    padding: 1rem;
    letter-spacing: 6px;
    border: 1px solid $accent;
    transition: color 0.1s, background-color 0.1s, transform 0.3s;
    background-color: transparent;
    outline-color: $primary-brand--medium;

    &:hover, &:focus {
      background-color: $accent;
      color: $secondary-brand;
      transform: translateY(-50%) rotate(90deg) translateX(50px);
    }
  }
}
