.base-button {
  position: relative;
  height: 70px;
  width: auto;
  max-width: 250px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 50px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: color $transition-time--short, background-color $transition-time--short, border $transition-time--short;

  &:focus {
    outline-color: $primary-brand--medium;
  }

  &--plain {
    background-color: $accent;
    border-color: $accent;
    color: $secondary-brand;
  }

  &--outline {
    border-color: $accent;
    color: $accent;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    background-color: $secondary-brand;

    &::before {
      content: '';
      background-color: $accent;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform $transition-time--long;
      width: 250px;
      height: 250px;
      border-radius: 100%;
      z-index: -1;
    }

    &:focus, &:hover {
      color: $secondary-brand;

      &::before {
        transform: translate(-50%, -50%) scale(2);
      }
    }
  }

  &--text {
    color: $accent;
  }
}