.fade {
  &-enter-active, &-leave-active {
    transition: opacity 0.2s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.pagination-fade {
  &-enter-active, &-leave-active {
    transition: opacity 0.2s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-page {
  &-enter-active, &-leave-active {
    transition: opacity 0.4s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-test {
  &-enter-active, &-leave-active {
    transition: all 5s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}