body, html {
  background-color: $secondary-brand;
  cursor: none;
  // overflow-x: hidden;
}

* {
  box-sizing: border-box;
  cursor: none;
}

.container {
  width: 100%;
  max-width: 92vw;
  margin: 0 auto;
  position: relative;
}

.lines {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 92vw;
  height: 100vh;
  width: 100%;
  z-index: 1;

  &__item {
    top: 0;
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 25%;
      transform: translateX(-25%);
    }

    &:nth-child(3) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(4) {
      left: 75%;
      transform: translateX(-75%);
    }

    &:nth-child(5) {
      right: 0;
    }
  }
}

.page {
  position: relative;

  &__content {
    position: relative;
    z-index: 2;
  }
}

// Custom cursor

.cursor {
  width: 1rem;
  height: 1rem;
  border: 1px solid $accent;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background-color, transform;
  transform-origin: 100% 100%;
  mix-blend-mode: exclusion;

  &--on-link {
    background-color: $accent;
    // background-color: $primary-brand--medium;
    transform: scale(2);
  }
}

// Media

@media screen and (max-width: 1024px) {
  .lines {
    &__item {
      &:nth-child(1),  &:nth-child(2),  &:nth-child(3),
      &:nth-child(4),  &:nth-child(5) {
        display: none;
      }

      // &:nth-child(3) {
      //   display: none;
      // }

      // &:nth-child(5) {
      //   display: none;
      // }
    }
  }
}
