body, html {
  background-color: $secondary-brand;
  overflow-x: hidden;
  // cursor: none;

  &.no-scroll {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  // cursor: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
}

.page {
  position: relative;

  &__content {
    position: relative;
    z-index: 2;
    transition: all 0.7s;
    height: 100%;

    &--active {
      transition: all 0.7s;
      transform: translate3d(0, 100vh, 0);
      opacity: 0;
    }
  }
}

// Custom cursor

.cursor {
  width: 1rem;
  height: 1rem;
  border: 1px solid $accent;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background-color, transform;
  transform-origin: 100% 100%;
  mix-blend-mode: exclusion;

  &--on-link {
    background-color: $accent;
    // background-color: $primary-brand--medium;
    transform: scale(2);
  }
}

// Prismic editor styles

.prismic {
  ul {
    margin: 2rem 0 0 0;
  }

  strong {
    font-weight: 500;
  }
}

//AOS

$aos-distance: 10px; // It has to be above import
@import 'node_modules/aos/src/sass/aos.scss';
$aos-distance: 10px; // It has to be above import

// Media

@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }

  .container {
    padding: 0 1rem;
  }

  body, html {
    cursor: unset;
  }
}
