body, html {
  background-color: $secondary-brand;
  cursor: none;
}

* {
  box-sizing: border-box;
  cursor: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
}

.page {
  position: relative;

  &__content {
    position: relative;
    z-index: 2;
  }
}

// Custom cursor

.cursor {
  width: 1rem;
  height: 1rem;
  border: 1px solid $accent;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background-color, transform;
  transform-origin: 100% 100%;
  mix-blend-mode: exclusion;

  &--on-link {
    background-color: $accent;
    // background-color: $primary-brand--medium;
    transform: scale(2);
  }
}

// Media

@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }

  .container {
    padding: 0 1rem;
  }

  body, html {
    cursor: unset;
  }
}
