$primary-brand: #eb3719;
$primary-brand--medium: #ee664e;

$secondary-brand: #141414;
$secondary-brand--medium:#333333;

$accent: #ffffff;
$accent-text: #ffffff;
$accent-text--medium: #f9edd4;

$transion-time: 0.2s;
$transition-time--short: 0.1s;
$transition-time--medium: 0.3s;
$transition-time--long: 0.4s;