.project {
  position: relative;
  padding: 200px 0 50px 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__technologies {
      position: relative;

      &-item {
        position: relative;
        margin: 0 0 0.5rem 0;
        font-size: 0.8rem;
        letter-spacing: 4px;
        text-transform: uppercase;

        &::before {
          content: '—';
          margin: 0 3px 0 0;
        }
      }
    }

    &__title {
      font-size: 3rem;
      font-weight: bold;
      // letter-spacing: 4px;
    }

    &__sub-title {
      font-size: 1.2rem;
      font-weight: bold;
      // letter-spacing: 4px;
      margin: 0 0 1rem 0;
    }

    &__description {
      font-size: 1rem;
      // letter-spacing: 4px;
      // text-transform: uppercase;
      margin: 2rem 0;
      line-height: 1.5;
    }

    &__sub-label {
      display: block;
      margin: 0 0 2rem 0;
      font-size: 1.2rem;
      font-weight: 500;
    }

    &__column {
      position: relative;

      &--left {
        width: 60%;
      }

      &--right {
        width: 25%;
      }
    }

    &__info {
      &-item {
        margin: 0 0 2rem 0;

        &:last-of-type {
          margin: 0;
        }
      }

      &-heading {
        margin: 0 0 0.5rem 0;
        font-size: 0.7rem;
      }

      &-value {
        font-weight: 500;
        font-size: 1.1rem;
        // letter-spacing: 4px;
      }
    }
  }

  &-main-img {
    padding: 200px 0;
    width: 75%;
    margin: 0 auto;

    &__inner {
      width: 100%;

    }
  }

  &-description {
    padding: 0 0 3rem 0;
    width: 50%;
    margin: 0 auto;

    &__row {
      text-align: left;
      padding: 0 0 6rem 0;
    }

    &__img {
      width: 100%;
      margin: 6rem 0 0 0;
    }

    &__heading {
      font-size: 2rem;
      font-weight: bold;
      // letter-spacing: 4px;
      margin: 0 0 2rem 0;
      text-align: center;
    }

    &__text {
      font-size: 1rem;
      // font-weight: bold;
      // letter-spacing: 4px;
      // text-transform: uppercase;
      line-height: 1.5;
    }

    &__technologies {
      margin: 0 0 2rem 0;

      &-item {
        margin: 0 0 0.5rem 0;
        font-size: 0.8rem;
        // font-weight: bold;
        // letter-spacing: 4px;
        // text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
      }
    }
  }
}

// Media

@media screen and (max-width: 1400px) {
  .project {
    &-header {
      &__title {
        font-size: 2rem;
      }

    }
  }
}

@media screen and (max-width: 1024px) {
  .project {
    &-header {
      display: block;

      &__column {
        &--left {
          padding: 0;
          width: 100%;
          max-width: 568px;
          margin: 0 0 4rem 0;
        }

        &--right {
          width: 100%;
        }
      }

      &__info-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
      }

      &__info-item {
        margin: 0;
      }

      &__sub-label {
        font-size: 1rem;
        margin: 0 0 1rem 0;
      }
    }

    &-main-img {
      width: 100%;
      padding: 100px 0;
    }

    &-description {
      width: 100%;

      &__heading {
        font-size: 1.8rem;
        text-align: left;
      }

      &__technologies {
        &-item {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project {
    &-header {
      &__info {
        &-list {
          grid-template-columns: repeat(2, 1fr);
        }

        &-value {
          font-size: 0.9rem;
        }

        &-heading {
          font-size: 0.6rem;
        }
      }
    }
  }
}
