.contact-form {
  width: 100%;
  max-width: 560px;
  margin: 0 0 0 20%;
}
.contact-form-item {
  margin: 0 0 35px 0;
  position: relative;
}
.contact-form-item:last-of-type {
  display: flex;
  justify-content: flex-end;
}
input,textarea {
  border: 3px solid $secondaryLight;
  width: 100%;
  padding: 13px;
  color: $secondaryDark;
  font-size: 16px;
  outline: none;
  transition: border 0.3s, color 0.3s;
  font-family: 'Raleway', sans-serif; 
  -webkit-font-smoothing: antialiased;
}
textarea {
  min-height: 200px;
}
input:focus, textarea:focus {
  border-color: $secondaryDark;
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  color: $secondaryLight;
} 

//Contact Validation

.contact-form-item-alert {
  position: absolute;
  left: 5px;
  bottom: -25px;
  color: $primary;
  font-size: 15px;
} 

//Contact button 

.contact-form-item-btn {
  position: relative;
  background: $primary;
  border: 0;
  padding: 15px 150px 15px 25px;
  color: $white;
  font-size: 20px;
  font-weight: 600;
  transition: background 0.4s;
  outline: none;
  margin: 0 -50px 0 0;
  svg {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate3d(-60%, -50%, 0);
    width: 30px;
    height: 30px;
    fill: $secondaryLight;
    transition: fill 0.35s;
    opacity: 0;
    transition: transform 0.35s, opacity 0.35s;
  }
  &:hover, &:focus {
    background: $secondaryDark;
    cursor: pointer;
  }
  &:hover svg, &:focus svg {
    transform: translate3d(0%, -50%, 0);
    opacity: 1
  }
} 

@media screen and (max-width: 920px) {
  .contact-form {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .contact-form-item:last-of-type {
    justify-content: flex-start;
  }
  .contact-communication-form-btn {
    margin: 0;
  }
}
