.contact-header {
  padding: 0 0 100px 0;
  color: $secondaryDark;
  width: 100%;
  text-align: right;
}
.contact-header-title {
  font-weight: 500;
  padding: 0 0 20px 0;
}
.contact-header-description {
  font-size: 18px;
} 

//Contact info 

.contact-info {
  display: flex;
  padding: 0 75px;
}
.contact-info-tile {
  width: 50%;
  height: 400px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 50px;
}
.contact-info-tile-title {
  padding: 0 0 15px 0;
  width: 100%;
}
.contact-info-tile-description {
  width: 100%;
}
.contact-info-tile:nth-child(1) {
  background: $primary;
  align-items: flex-end
}
.contact-info-tile:nth-child(2) {
  background: $secondaryDark;
  align-items: center;
  text-align: right;
} 

//Contact Commincation

.contact-communication-header {
  width: 100%;
  padding: 100px 0 100px 0;
  color: $secondaryDark;
}

.contact-communication-header-title {
  font-size: 36px;
  font-weight: 500;
  padding: 0 0 20px 0;
}
.contact-communication-header-description {
  font-size: 18px;
} 

//Media 

@media screen and (max-width: 920px) {
  .contact-header {
    width: 100%;
    text-align: center;
    padding: 0 0 50px 0;
  }
  .contact-info {
    flex-wrap: wrap;
    padding: 0;
  }
  .contact-info-tile {
    width: 100%;
    text-align: center;
    height: auto;
    height: 300px;
  }
  .contact-info-tile:nth-child(2) {
    text-align: center;
  }
  .contact-communication-header {
    text-align: center;
  }
  .contact-communication-tile {
    width: 100%;
  }
  .contact-communication-form-btn {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .contact-header-title,
  .contact-communication-header-title {
    font-size: 26px;
  }
  .contact-info-tile-title {
    font-size: 24px;
  }
  .contact-info-tile-description {
    font-size: 18px;
  }
  .contact-communication-header {
    padding: 50px 0;
  }
}