.footer {
  padding: 150px 15px 25px 15px;
}

//Footer header

.footer-header {
 padding: 0 50px 50px 50px;
 text-align: center;
 color: $secondaryDark;
}
.footer-header-title {
  padding: 0 0 15px 0;
  color: $secondaryDark;
  font-weight: 500;
}
.footer-header-description {
  font-size: 18px;
}
.footer-header-line {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  height: 3px;
  background: $secondary;
  margin: 60px 0 0 0;
}

//Footer contact

.footer-contact {
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
}
.footer-contact-item {
  padding: 0 15px;
}
.footer-contact-item a {
  display: block;
  width: 100%;
  height: 100%;
  outline-color: $primary;
  padding: 5px;
  text-align: center;
  &:focus .footer-contact-item-detail,
  &:hover .footer-contact-item-detail {
    color: $primary;
  }
  &:hover .footer-contact-item-icon,
  &:focus .footer-contact-item-icon {
    fill: $primary;
  }
}
.footer-contact-item-icon {
  width: 60px;
  height: 60px;
  fill: $secondaryLight;
  transition: fill 0.35s;
  margin: 0 auto 10px auto;
  svg {
    width: 100%;
    height: 100%;
  }
}
.footer-contact-item-addition {
  color: $secondaryMedium;
  font-size: 18px;
}
.footer-contact-item-detail {
  font-size: 22px;
  color: $secondaryDark;
  padding: 5px 0 0 0;
  transition: color 0.25s; 
} 

//Foter socials 

.footer-socials {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.footer-socials-item {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
  margin: 0 5px;
}
.footer-socials-item-icon {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $secondaryLight;
  transition: border 0.2s;
  outline: none;
  svg {
    width: 16px;
    height: 16px;
    fill: $secondaryMedium;
    transition: fill 0.2s;
  }
  &:hover svg, &:focus svg {
    fill: $primary;
  }
  &:hover, &:focus {
    border-color: $primary; 
  }
}

//footer logo & signature

.footer-logo {
  position: relative;
  text-align: center;
  margin: 10px 0;
}
.footer-logo a {
  width: 100%;
  height: auto;
  outline: none;
  svg {
    width: 50px;
    height: auto;
    fill: $secondaryDark;
    transition: fill 0.25s;
  }
  &:hover, &:focus {
    svg {
      fill: $primary;
    }
  }
}

.footer-singature {
  padding: 10px 0;
  font-size: 15px;
  font-weight: 300;
  color: $secondaryMedium;
  text-align: center;
}

//Media 

@media screen and (max-width: 700px) {
  .footer-contact {
    flex-wrap: wrap;
  }
  .footer-contact-item {
    margin: 0 25px 25px 25px;
    text-align: center;
    &:last-of-type {
      margin: 0 25px;
    }
  }
  .footer-header {
    padding: 0 0 25px 0;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 50px 15px 25px 15px;
  }
  .footer-header-title {
    font-size: 22px;
  }
  .footer-header-description {
    font-size: 17px;
  }
  .footer-contact-item-addition {
    font-size: 16px;
  }
  .footer-contact-item-detail {
    font-size: 18px;
  }
  .desktop {
    display: none;
  }
  .footer-logo a figcaption.mobile {
    display: block
  }
  .footer-contact {
    padding: 0 0 25px 0;
  }
}