.main-footer {
  padding: 2rem 0;
  position: relative;
  z-index: 2;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__logo {
    width: 50px;
  }

  &__heading {
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__menu-list {
    &-item {
      margin: 0 0 1rem 0;
    }

    &-link {
      display: inline-block;
      outline-color: $primary-brand--medium;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    &-item {
      width: 22px;
      margin: 0 1rem 0 0;

      &:last-child {
        margin: 0;
      }
    }

    &-link {
      display: inline-block;
      outline-color: $primary-brand--medium;
      padding: 2px;

      &:hover, &:focus {
        svg path {
          fill: $primary-brand--medium;
        }
      }

      svg {
        display: block;
        width: 100%;
      
        path {
          transition: fill $transition-time;
        }
      }
    }
  }

  &__link {
    display: block;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    outline-color: $primary-brand--medium;
  }

  &__copyright {
    color: $accent-text;
    margin: 1rem 0 0 0;
  }
}