.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__content {
    margin: 0 auto;
    width: 100%;
    max-width: 92vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__copyright, &__link {
    color: $accent--medium;
    font-size: 0.8rem;
    font-weight: 300;
  }
}
