.notifications-wrapper {
  position: fixed;
  top: 100px;
  right: 50px;
  width: auto;
  height: auto;
  z-index: 90;
  display: block;
}

@media screen and (max-width: 768px) {
  .notifications-wrapper {
    right: 15px;
    left: 15px;
    top: 100px;
  }
}