

#home {
  margin: 0 auto;
}
.hero {
  width: 100%;
  height: calc(100vh - 70px);
  margin: 70px 0 0 0;
  position: relative;
  color: $secondaryDark;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  &-description {
    width: 30%;
    &-title {
      padding: 0 0 25px 0;
      font-size: 46px;
    }
    &-text {
      margin: 0 0 25px 0;
      font-size: 24px;
    }
    &-link {
      color: $secondaryMedium;
      padding: 6px 16px;
      border: 3px solid $secondaryLight;
      transition: border 0.25s, color 0.25s;
      outline: none;
      &:focus, &:hover {
        border-color: $primary;
        color: $primary;
      }
    }
  }
}

//Hero SVG Global styles

.hero-img {
  width: 70%;
  svg {
    overflow: inherit;
    .cls-1 {
      isolation:isolate;
    }
    .cls-2 {
      opacity:0.15;
      mix-blend-mode:multiply;
    }
    .cls-3 {
      fill: $primary;
    }
    .cls-4 {
      fill: $secondaryDark;
    }
    .cls-5 {
      fill: #f2f0f1;
    }
    .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
      transition: opacity 0.7s, transform 0.9s;
      will-change: opacity, transform;
    }
  }
}

//Left side - Before animation

.hero-img [data-name="Warstwa 3"] {
  .cls-2 {
    opacity: 0;
  }
  #red-down {
    transform: translate(-200px, 300px);
    opacity: 0;
  }
  #red-up {
    transform: translate(-200px, -200px);
    opacity: 0;
  }
  #grey-medium {
    transform: translate(-100px, 100px);
    opacity: 0;
  }
  #white-right-down {
    transform: translate(-150px, 300px);
    opacity: 0;
  }
}

//Left side - After animation

.hero-img.active [data-name="Warstwa 3"] {
  #red-down, #grey-medium, #white-right-down {
    transform: translate(0);
    opacity: 1;
  }
  #red-up {
    transform: translate(-320px, -100px);
    opacity: 1;
  }
}

//Right side Before animation

.hero-img [data-name="Warstwa 2"] {
  .cls-2 {
    opacity: 0;
  }
  .cls-3 {
    transform: translate(200px, 0px);
    opacity: 0;
  }
  #grey-up {
    transform: translate(-200px, -200px);
    opacity: 0;
  }
  #white-down {
    opacity: 0;
    transform: translate(-220px, 50px);
  }
}

//Right side - After animation

.hero-img.active [data-name="Warstwa 2"] {
  .cls-3 {
    transform: translate(0);
    opacity: 1;
  }
  #white-down, #grey-up {
    transform: translate(-320px, -100px);
    opacity: 1;
  }
}

//Contact

.contact {
  &-title {
    padding: 100px 0;
    color: $secondaryDark;
  }
  &-description {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
}

//Contact tile Big

.contact-tile-big {
  background-color: $primary;
  color: white;
  width: 70%;
  color: white;
  .contact-tile-content {
    padding: 150px 100px;
  }
  .contact-tile-title {
    font-size: 34px;
  }
  .contact-tile-link {
    background: $secondaryDark;
    padding: 20px 65px 20px 30px;
    margin: 40px 0 0 0;
    display: block;
    width: 350px;
    position: relative;
    font-size: 20px;
    outline: none;
    &:hover, &:focus {
      svg {
        transform: translate(15px, -50%);
      }
    }
    svg {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      fill: white;
      transition: transform 0.35s;
    }
  } 
}

//Contact tile Small

.contact-tile-small {
  border: 3px solid $primary;
  border-right: none;
  width: 30%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  .contact-tile-title {
    color: $primary;
  }
}

//Media

@media screen and (max-width: 920px) {
  .contact-tile-big .contact-tile-content {
    padding: 100px 100px;
  }
  .contact-tile-small {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .contact-tile-big {
    width: 100%;
    .contact-tile-title {
      font-size: 28px;
    }
  }
  .contact-tile-big .contact-tile-link {
    font-size: 18px;
  }
  .contact-tile-big .contact-tile-content {
    padding: 75px 50px;
  }
  .contact-tile-small {
    border: 3px solid $primary;
    border-bottom: none;
    width: 250px;
    margin: 0 0 0 25px;
  }
  .contact-title {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .contact-title {
    padding: 50px 0;
    font-size: 24px;
  }
  .contact-tile-big .contact-tile-link {
    width: 300px;
    font-size: 16px;
    svg {
      display: none;
    }
  }
  .contact-tile-big .contact-tile-content {
    padding: 50px 25px;
  }
  .home-header-title {
    font-size: 26px;
  }
  .home-header-description {
    font-size: 18px;
  }
  .contact-tile-big .contact-tile-title {
    font-size: 24px;
  }
  .contact-tile-small .contact-tile-text {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .contact-tile-big .contact-tile-link {
    width: auto;
    padding: 16px 15px;
    text-align: center;
  }
  .contact-tile-small {
    width: 100%;
    margin: 15px 0;
    border: 3px solid $primary;
  }
}

//Projects

.projects-title {
  padding: 100px 0;
  color: $secondaryDark;
  text-align: right;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

//Project Item

.project-item {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $secondaryDark;
    opacity: 0.6;
  }
  a {
    position: relative;
    outline: none;
    padding: 0 25px;
    display: block;
    width: 100%;
    height: 100%;
    transition: background 0.45s;
    overflow: hidden;
    .project-item-title {
      color: white;
      font-size: 60px;
      position: absolute;
      left: 100px;
      bottom: 0;
      transform: translate3d(0,-100px,0);
      transition: transform 0.45s, opacity 0.45s;
    }
    .project-item-description {
      color: white;
      font-size: 30px;
      position: absolute;
      left: 100px;
      bottom: 0;
      transform: translate3d(0,100px,0);
      opacity: 0;
      transition: transform 0.45s, opacity 0.45s;
    }
    &:hover, &:focus {
      background: rgba(235, 55, 25, 0.8);
      .project-item-title {
        transform: translate3d(0,-150px,0);
        opacity: 1;
      }
      .project-item-description {
        transform: translate3d(0,-100px,0);
        opacity: 1;
      }
    }
  }
}

//Projects images & settings

.project-item:nth-child(1) {
  width: 100%;
  background: url("../../Img/sokolnicki-homepage.jpg");
  background-size: cover;
  background-position: center top;
  height: 700px;
}
.project-item:nth-child(2) {
  width: calc(40% - 50px);
  margin: 0 0 0 50px;
  background: url("../../Img/bossbus-homepage.jpg");
  background-size: cover;
  background-position: 75% top;
  height: 500px;
}
.project-item:nth-child(3) {
  width: calc(60% - 50px);
  margin: 0 50px 0 0;
  background: url("../../Img/watches.jpg");
  background-size: cover;
  background-position: center top;
  height: 600px;
}

//Media

@media screen and (max-width: 1268px) {
  .project-item:nth-child(1) {
    height: 500px;
  }
  .project-item:nth-child(2) {
    height: 300px;
  }
  .project-item:nth-child(3) {
    height: 400px;
  }
  .project-item a .project-item-title {
    transform: translate3d(0,-25px,0);
    left: 50px;
    font-size: 46px;
  }
  .project-item a .project-item-description {
    transform: translate3d(0,-25px,0);
    left: 50px;
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .project-item:nth-child(1) {
    height: 400px;
  }
  .project-item:nth-child(2) {
    height: 300px;
    width: 100%;
    margin: 25px 0 0 0;
  }
  .project-item:nth-child(3) {
    height: 400px;
    width: 100%;
    margin: 25px 0 0 0;
  }
  .project-item a .project-item-title {
    transform: translate3d(0,-25px,0);
    left: 50px;
    font-size: 46px;
  }
  .projects-title {
    text-align: center
  }
}

@media screen and (max-width: 576px) {
  .project-item:nth-child(1) {
    height: 300px;
  }
  .project-item:nth-child(2) {
    height: 300px;
  }
  .project-item:nth-child(3) {
    height: 300px;
  }
  .project-item a .project-item-title {
    transform: translate3d(0,-25px,0);
    left: 20px;
    font-size: 24px;
  }
  .project-item a .project-item-description {
    transform: translate3d(0,-25px,0);
    left: 20px;
    font-size: 16px;
  }
  .projects-title {
    padding: 50px 0;
    font-size: 24px;
  }
}

//About

.about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0 auto;
  &-left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    &-title {
      width: 100%;
      text-align: left;
    }
  }
  &-right {
    width: 40%;
    .tile:nth-last-child(1) {
      border-top: none;
      border-left: none;
      border-bottom: none;
    }
  }
}

//About tiles

.tile {
  padding: 0 30px;
  border: 3px solid #e0dedb;
  color: $secondaryMedium;
  &-title {
    padding: 20px 0;
  }
  &-counter {
    display: block;
    text-align: center;
    font-size: 100px;
  }
  &-description {
    text-align: center;
    padding: 0 0 20px 0;
  }
  &-red {
    border-color: $primary;
    height: 267px;
    width: 320px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: none;
    margin: 0 -3px 0 0;
    .tile-title {
      color: $primary;
    }
    .tile-description {
      color: $secondaryDark;
      text-align: left;
    }
  }
}

//About author

.about-author {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &-content {
    position: relative;
    color: white;
    width: calc(60% + 3px);
    background: $primary;
    padding: 90px 80px;
    z-index: 1;
  }
  &-img {
    width: calc(40% - 3px);
    height: 80%;
    position: relative;
    background-image: url("../../Img/author.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 80%;
    filter: grayscale(50%);
  }
}
.content {
  position: relative;
  &-title {
    margin: 0 0 15px 0;
  }
  &-description {
    margin: 0 0 15px 0;
  }
  &-link {
    padding: 5px 10px 5px 0;
    display: block;
    width: 100px;
    svg {
      width: 40px;
      height: 40px;
      fill: white;
      transition: transform 0.35s;
    }
    &:focus, &:hover {
      outline-color: white;
      svg {
        transform: translate3d(25px,0,0);
      }
    }
  }
}

//Media

@media screen and (max-width: 1200px) {
  .hero-img, .hero-description {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .about-author-content {
    padding: 50px 60px;
  }
  .hero-description {
    width: 100%;
    text-align: center;
    &-title {
      font-size: 32px;
    }
    &-text {
      font-size: 20px;
    }
  }
  .hero-img {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
    padding: 0 15px;
  }
  .about {
    margin: 100px 0 0 0;
  }
  .about-left {
    width: 100%;
    &-title {
      text-align: center;
      width: 100%;
      padding: 0 0 100px 0;
    }
    .tile-red {
      margin: 0 auto -3px auto;
      border-bottom: 3px solid $primary;
    }
  }
  .about-right {
    width: 100%;
    .tile:nth-last-child(1) {
      border-left: 3px solid $secondaryLight;
    }
  }
  .tile {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
  .about-author-content {
    width: 100%;
  }
  .about-author-img {
    width: 100%;
    margin: 25px 0 0 0;
    height: 420px;
  }
  .content-title {
    font-size: 22px;
  }
  .content-description {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
  }
  .about {
    margin: 50px 0 0 0;
  }
  .about-left-title {
    padding: 0 0 50px 0;
    font-size: 24px;
  }
  .about-author-content {
    padding: 50px 15px;
  }
  .about-author-img {
    height: 320px;
  }
  .tile-counter {
    font-size: 70px;
  }
  .tile-title {
    font-size: 22px;
  }
  .tile-description {
    font-size: 16px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px)  {
  .hero {
    display: block;
    height: auto;
  }
  .hero-description {
    padding: 50px 0;
  }
}