@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

$red: #eb3719;
$grey: #d9d7d3;
$greyDark: #333333;
$greyLight: #e0dedb;
$greyMedium: #b9b5ae;
$greyMediumDark: #72706c;
$white: #fcfcfc;



#home {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-header {
  padding: 0 15px;
  text-align: center;
  position: relative;
  margin: -100px 0 0 0;
  color: $greyDark;
}
.home-header-title {
  padding: 0 0 20px 0;
}
.home-header-description-link {
  color: $greyMedium;
  padding: 6px 16px;
  border: 3px solid $greyLight;
  transition: border 0.25s, color 0.25s;
  outline: none;
}
.home-header-description-link:hover, 
.home-header-description-link:focus {
  border-color: $red;
  color: $red;
}

@media screen and (max-width: 576px) {
  .home-header-title {
    font-size: 26px;
  }
  .home-header-description {
    font-size: 18px;
  }
}

#page-not-found {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.page-not-found-header {
  color: $greyDark;
  text-align: center;
}
.page-not-found-error {
  font-size: 40px;
  font-weight: 500;
  color: $red;
}
.page-not-found-link {
  color: $greyMedium;
  padding: 6px 16px;
  border: 3px solid $greyLight;
  transition: border 0.25s, color 0.25s;
  outline: none;
  margin: 10px 0 0 0;
}
.page-not-found-link:hover, 
.page-not-found-link:focus {
  border-color: $red;
  color: $red;
}

//Media

@media screen and (max-width: 576px) {
  .page-not-found-header {
    font-size: 22px;
  }
}
